# Node.js
node_modules/
npm-debug.log
.env

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Build directories
/dist
/build
/tmp
/public

# MongoDB
*.lock
data/
dump/

# MacOS
.DS_Store

# React specific
build/
npm-debug.log*
yarn-debug.log*

# Coverage directory for testing
coverage/

# IDE settings
.vscode/
.idea/

# Socket.IO cache (optional)
socket.io-cache/
